src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

	<flow name="fromSalesforceAtoSalesforceB" doc:id="dda2293a-f3aa-41b9-aa97-bfe9ccbda6c5">
		<batch:job jobName="userFromAtoB-Batch_Job" doc:id="e9265e23-8dde-4855-8b03-b8ee709a4896">
			<batch:process-records>
				<batch:step name="queryUserFromBStep" doc:id="73f5cdc7-59ae-46cb-b1b4-1b3a965e2f3e">
					<salesforce:query-single config-ref="Salesforce_Sfdc_B_config"
						doc:name="Query User from Salesforce B" doc:id="783b2ca3-1ace-4f8b-bc6d-d64b59563878"
						target="IdDateInB">
						<salesforce:salesforce-query>SELECT Id, LastModifiedDate FROM User
							WHERE Email =
							':email'
						</salesforce:salesforce-query>
						<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"email" : payload.Email
}]]]></salesforce:parameters>
					</salesforce:query-single>
					<ee:transform doc:name="Add SFDC User Id to payload"
						doc:id="c9685fd5-458b-4888-b848-0b31d4b39c38">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ {
	Id: if(vars.IdDateInB !=null) vars.IdDateInB.Id else null, 
	LastModifiedDateB: if(vars.IdDateInB !=null) vars.IdDateInB.LastModifiedDate else null
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="upsertInSalesforceBStep" doc:id="ef1fa6ea-9b07-4385-a0b2-491396f97a34"
					acceptExpression="payload.Id == null  or (payload.LastModifiedDateB &lt; payload.LastModifiedDate)">
					<batch:aggregator doc:name="Batch Aggregator"
						doc:id="1df6c548-87de-4cfe-9ebb-412cab2b1499" size="${page.size}">
						<ee:transform doc:name="Prepare Users for Upsert"
							doc:id="5263e05a-1baf-4e7d-befd-a210be595768">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map ((item) -> {
	Email: item.Email,
	FirstName: item.FirstName, 
	LastName: item.LastName, 
	Username: item.Username ++ '.target', 
	Alias: item.Alias, 
	TimeZoneSidKey: item.TimeZoneSidKey, 
	LocaleSidKey: item.LocaleSidKey, 
	EmailEncodingKey: item.EmailEncodingKey, 
	ProfileId: p('sfdc.b.profile.id'), 
	LanguageLocaleKey: item.LanguageLocaleKey,
	(Id: item.Id) if (item.Id != null)
})]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Log records to upsert"
							doc:id="5647e369-d5c8-47d3-8648-3c6449046dda" message="#[write(payload, 'application/json')]" />
						<salesforce:upsert config-ref="Salesforce_Sfdc_B_config"
							externalIdFieldName="Id" type="User" doc:name="Upsert Users in Salesforce B"
							doc:id="4a36339e-9efd-4264-a864-ddbdbc0b1732" />
						<logger level="INFO" doc:name="Log Salesforce response"
							doc:id="5647e369-d5c8-47d3-8648-3c6449046dda" message="#[write(payload, 'application/json')]" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<os:store key="syncState" doc:name="Set sync state to fromB"
					doc:id="f08de372-2fb9-4aef-80ca-f6da2241fc75" objectStore="SchedulerStatus">
					<os:value><![CDATA[fromB]]></os:value>
				</os:store>
			</batch:on-complete>
		</batch:job>
	</flow>

	<flow name="fromSalesforceBtoSalesforceA" doc:id="dda2293a-f3aa-41b9-aa97-bfe9ccbda6c5">
		<batch:job jobName="userFromBtoA-Batch_Job" doc:id="e9265e23-8dde-4855-8b03-b8ee709a4896">
			<batch:process-records>
				<batch:step name="queryUserFromAStep" doc:id="73f5cdc7-59ae-46cb-b1b4-1b3a965e2f3e">
					<salesforce:query-single config-ref="Salesforce_Sfdc_A_config"
						doc:name="Query User from Salesforce A" doc:id="783b2ca3-1ace-4f8b-bc6d-d64b59563878"
						target="IdDateInA">
						<salesforce:salesforce-query>SELECT Id, LastModifiedDate FROM User
							WHERE Email =
							':email'
						</salesforce:salesforce-query>
						<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"email" : payload.Email
}]]]></salesforce:parameters>
					</salesforce:query-single>
					<ee:transform doc:name="Add SFDC User Id to payload"
						doc:id="c9685fd5-458b-4888-b848-0b31d4b39c38">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ {
	Id: if(vars.IdDateInA !=null) vars.IdDateInA.Id else null, 
	LastModifiedDateA: if(vars.IdDateInA !=null) vars.IdDateInA.LastModifiedDate else null
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="upsertInSalesforceAStep" doc:id="ef1fa6ea-9b07-4385-a0b2-491396f97a34"
					acceptExpression="payload.Id == null  or (payload.LastModifiedDateA &lt; payload.LastModifiedDate)">
					<batch:aggregator doc:name="Batch Aggregator"
						doc:id="1df6c548-87de-4cfe-9ebb-412cab2b1499" size="${page.size}">
						<ee:transform doc:name="Prepare Users for Upsert"
							doc:id="5263e05a-1baf-4e7d-befd-a210be595768">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map ((item) -> {
	Email: item.Email,
	FirstName: item.FirstName, 
	LastName: item.LastName, 
	Username: item.Username ++ '.target', 
	Alias: item.Alias, 
	TimeZoneSidKey: item.TimeZoneSidKey, 
	LocaleSidKey: item.LocaleSidKey, 
	EmailEncodingKey: item.EmailEncodingKey, 
	ProfileId: p('sfdc.a.profile.id'), 
	LanguageLocaleKey: item.LanguageLocaleKey,
	(Id: item.Id) if (item.Id != null)
})]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Log records to upsert"
							doc:id="5647e369-d5c8-47d3-8648-3c6449046dda" message="#[write(payload, 'application/json')]" />
						<salesforce:upsert config-ref="Salesforce_Sfdc_A_config"
							externalIdFieldName="Id" type="User" doc:name="Upsert Users in Salesforce A"
							doc:id="4a36339e-9efd-4264-a864-ddbdbc0b1732" />
						<logger level="INFO" doc:name="Log Salesforce response"
							doc:id="5647e369-d5c8-47d3-8648-3c6449046dda" message="#[write(payload, 'application/json')]" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<os:store key="syncState" doc:name="Set sync state to fromA"
					doc:id="f08de372-2fb9-4aef-80ca-f6da2241fc75" objectStore="SchedulerStatus">
					<os:value><![CDATA[fromA]]></os:value>
				</os:store>
			</batch:on-complete>
		</batch:job>
	</flow>



</mule>

	
	